a {
    text-decoration: none;
    color: black;
}

.task:hover .actions {
    visibility: visible !important;
}

#to-do-list .move-to-do {
    display: none;
}

#done-list .move-done {
    display: none;
}